<!DOCTYPE html>
<html>
  <head>
    <title>SupermarketCloudinary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", brands_path %>
    <%= link_to "Add brand", new_brand_path %>
    
    <%= yield %>
  </body>
</html>
